<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, amet illum nisi enim dolorem blanditiis eius
    maiores nihil officia. Eos quisquam error voluptatum voluptatibus earum iure sed fugit perferendis repellendus!</p>

<a href="/">Home</a>