body {
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 1rem;
}

main {
    background: cornsilk;
    padding: 1rem;
}

header, footer {
    background-color: ghostwhite;
    padding: 0.2rem 1.4rem;
}

.layout-sidebar {
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
}